body{
    background-color: rgb(204, 50, 191);
    background-image: url(image.avif);
    background-size: cover;
}

.container{
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
    background: #9e41d48b;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 20px;
    -webkit-text-stroke: #0c0c0ce4 1px;
    color: red;
}

.name_container{
    padding: 10px;
    text-align: left;
    justify-content: center;
}

button{
    padding: 10px 20px;
    cursor: pointer;
}

h2{
    text-align: center;
}