<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLAME Game</title>

    
</head>
<body>
    <h1>FLAME Game</h1>
    <form method="post">
        <label for="name1">Your Name:</label>
        <input type="text" id="name1" name="name1" required>
        <br><br>
        <label for="name2">Your Crush's Name:</label>
        <input type="text" id="name2" name="name2" required>
        <br><br>
        <button type="submit">Find Out!</button>
    </form>

    {% if result %}
        <h2>{{ name1 }} and {{ name2 }}'s relationship will end in {{ result }}</h2>
    {% endif %}
</body>
</html>

